

  html,body{
    background-color: #F5E7C6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*   
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
  } */

  .profile-card {
    width: 300px;
    background: #f7f1e1;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
  }
  
  .about-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-container {
    max-width: 700px;
    background: #f7f1e1;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  
  .about-text {
    font-size: 15px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 15px;
  }
  
  .skill-group {
    margin-bottom: 20px;
  }
  
  .skill-group h5 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
  }
  
  .skill-group span {
    display: inline-block;
    background: #546386;
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 4px;
    font-size: 13px;
  }
  .about-contact a {
    color: #0441cf;
    text-decoration: none;
    font-weight: 500;
  }
  
  .about-contact p {
    margin-top: 8px;
    font-size: 14px;
  }


